[submodule "browsix"]
	path = browsix
	url = https://github.com/ids1024/browsix
[submodule "busybox"]
	path = busybox
	url = https://github.com/ids1024/busybox
[submodule "musl"]
	path = musl
	url = https://github.com/ids1024/musl
[submodule "compiler-rt"]
	path = compiler-rt
	url = https://git.llvm.org/git/compiler-rt
[submodule "wasm-loader-browsix"]
	path = wasm-loader-browsix
	url = https://github.com/ids1024/wasm-loader-browsix
